
<div style='float:right;margin-top: 25spx;'>


  <div style=' background-color:#DB8400; opacity:0.3; display:block;
  height:569px;width:300px;border-radius : 10px 10px 10px 10px;'>

  </div>




  <div style='position: relative;top: -578px;right: -27px;z-index: 1;'>
    <h2 >Sign up</h2>


  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div ><%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %></div>

    <div><%= f.label :address %><br />
    <%= f.text_field :address, :autofocus => true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>s

</div>


<div style='border:2px solid black; width:70%; height: 500px; float:left; margin: 25px 10px 5px 10px;'>
<div class='pic'>
  <%= image_tag '/assets/tomyum.jpg'%>
</div>
</div>