
<div style='float:right;margin-top: 20px;'>


  <div style=' background-color:#DB8400; opacity:0.5; display:block;
  height:364px;width:300px;'>

  </div>


  <div style='position:relative;top:-375px;z-index:1;'>
    <h2 >Sign up</h2>


  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div ><%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %></div>

    <div><%= f.label :address %><br />
    <%= f.text_field :address, :autofocus => true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>

<br>
  <%= render "devise/shared/links" %>
  </div>

</div>