
<div style='float:right;margin-top: 25spx; height:569px'>


  <div style=' background-color:#DB8400; opacity:0.3; display:block;
  height:569px;width:300px;border-radius : 10px 10px 10px 10px; margin-top: 20px;'>

  </div>




  <div style='position: relative;top: -578px;right: -27px;z-index: 1;'>
    <h2 >Sign up</h2>


  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div ><%= f.label :name %><br />
    <%= f.text_field :name, :autofocus => true %></div>

    <div><%= f.label :address %><br />
    <%= f.text_field :address, :autofocus => true %></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>s

</div>



<div id="myCarousel" class="carousel slide" style='border:2px solid black; width: 900px; height:400px;border-radius : 10px 10px ; margin-top:25px;'>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" style='height:400px; width:900px; border-radius : 10px 10px ;'>
    <div class="active item">
      <div class='slidshow'></div>
    </div>
    <div class="item">
      <div class='slidshow2'></div>
    </div>
    <div class="item">
      <div class='slidshow3'></div>
    </div>
    <div class="item">
      <div class='slidshow4'></div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class='clearer'></div>