

<%if !user_signed_in?  %>

<div style='float:right;margin-top: 25px; height:400px;'>


  <div style=' background-color:#DB8400;opacity: 0.3; 
    display:block;height:400px;width:300px;border-radius : 10px 10px 10px 10px;'>

  </div> 
  <!-- background transparant -->


  <div style='position:relative;right: -22px;top:-400px; z-index:1;'> 

    <h2>Sign in</h2>

    <%= form_for(User.new, :as => :user, :url => session_path(:user)) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <% if Devise.mappings[:user].rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in" %></div>
    <% end %>


<%= render "devise/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user] %>
  </div> <!-- isi -->

</div>
<% end %>



  	<div style=' background-color:#DB8400;opacity: 0.3; display:block;height:630px;width:70%;border-radius : 10px 10px 10px 10px;margin-top: 25px;' >

  	</div> 
  	<!-- background transparant -->


  <div style='position:relative;left: 35px; bottom: 610px;z-index:1;width: 900px;'> 
		<!-- disini tempat foto atas -->


		<div>
				<p style='margin-left;20px; color:black; font-size:20px;'><strong>Selamat Datang,</strong></p>
				<p style='margin-left;20px; color:black; font-size:20px;'><strong>Mari Berpesta Makanan! Dengan hidangan yang anda inginkan dengan Flash Delivery!</strong></p>
		</div>

		
		<div id='scroll2'>
						<% @products.each do |product| %>

			<div id='boximage'>
							<%= link_to product_path(product) do %>
							<%= image_tag product.image_url, class: :picbox %>
						<% end %>
			</div>
		<% end %>

		<div style='clear:both;'></div>
	</div>
		<!-- disini tempat foto bawah -->


 </div> <!-- isi -->


