<h1 id='judulindexrestaurant'>Listing Restaurants</h1>

<table class="table table-hover" id='tablerestaurant'>
	<tr>
		<th><h3>Name</h3></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @restaurants.each do |restaurant|%>

	<tr>
		<td> <%= restaurant.name%> </td>
		<td><%= link_to 'Show', restaurant,class:"btn btn-default  btn-inverse", style:'width:80px'%>
				<%= link_to 'Edit', edit_restaurant_path(restaurant),class:"btn btn-default  btn-inverse", style:'width:80px;margin-left: 15px;
					margin-right: 15px;'%>
				<%= link_to 'Destroy', restaurant,class:"btn btn-default  btn-inverse", style:'width:80px', method: :delete, data: {confirm: 'Are you sure?'} %>
		</td>
	</tr>

	<%end%>
<table>

</br>

<%= link_to 'New Restaurant', new_restaurant_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;width: 133px;float: right;margin-right: 80px;' %>

