<p id="notice"> <%= notice %></p>

<p>
	<b>Name : </b>
	<%= @restaurant.name%>

</p>

<p>
	<b>Address : </b>
	<%= @restaurant.address%>

</p>

<p>
	<b>City : </b>
	<%= @restaurant.city%>

</p>

<p>
	<b>Province : </b>
	<%= @restaurant.province%>

</p>


<%= link_to 'edit', edit_restaurant_path(@restaurant),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%> 
<%= link_to 'back', restaurants_path(@restaurant),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%>