<div style=' background-color:#DB8400;opacity: 0.3; display:block;height:400px;width:35%;border-radius : 10px 10px;margin-top: 25px;'>

  	</div> 

<div style='position:relative;left: 35px; bottom: 350px;z-index:1;' > 



<p id="notice"> <%= notice %></p>

<p>
	<h4>
<b>Name : </b>
	<%= @category.name%>
</h4>
</p>

<p>
		
<ul>
	<% @category.products.each do |product| %>
		<li id='font'>
				<%= link_to product.name,products_path(name:product.name) %>


		</li>

	<%end%>
</ul>

</p>

<div style='margin-top:25px;'>
<div style='width:80px;margin-right: 25px;float:left;'>
<%= link_to 'Edit', edit_category_path(@category),class:"btn btn-default btn-block btn-inverse",
	 style:'color:white;'%> 
</div>

<div style='width:80px;margin-right: 25px;float:left;'>
<%= link_to 'Back', categories_path(@category),class:"btn btn-default btn-block btn-inverse",
	 style:'color:white;'%>
</div>
</div>

