<p id="notice"> <%= notice %></p>

<p>
	<b>Name : </b>
	<%= @category.name%>

	
<ul>
	<% @category.products.each do |product| %>
		<li>
				<%= link_to product.name,products_path(name:product.name) %>


		</li>

	<%end%>
</ul>

</p>


<%= link_to 'edit', edit_category_path(@category),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%> 
<%= link_to 'back', categories_path(@category),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%>