	<div style=' background-color:#DB8400;opacity: 0.3; display:block;height:630px;width:100%;border-radius : 10px 10px;'>

  	</div> 

<div style='position:relative;left: 35px; bottom: 610px;z-index:1;'> 


<h1 id='judulindexproduct'>Listing Products</h1>

<table class="table table-hover" id='tableproduct'> 
	<tr>
		<th><h3>Name</h3></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<% @products.each do |product|%>

	<tr>
		<td> <%= product.name%> </td>
		<td><%= link_to 'Show', product,class:"btn btn-default  btn-inverse", style:'width:80px'%>
				<%= link_to 'Edit', edit_product_path(product),class:"btn btn-default  btn-inverse", style:'width:80px;margin-left: 15px;
margin-right: 15px;'%>
				<%= link_to 'Destroy', product,class:"btn btn-default  btn-inverse", style:'width:80px', method: :delete, data: {confirm: 'Are you sure?'} %>
		</td>

	</tr>

	<%end%>
<table>

</br>

<%= link_to 'New Product', new_product_path,class:"btn btn-default btn-block btn-inverse", style:'width:80px;width: 133px;float: right;margin-right: 80px;' %>

	
	 </div>

 <!-- isi -->


