<p id="notice"> <%= notice %></p>

<div class='row-fluid'>
	<div class='span12' style='margin-top:20px;'>
		<%= image_tag @product.image_url, class: 'img-polaroid', style:'width:200px; float:left; margin-right:20px;' %>


	</div>

</div>


<p>
	<b>Name : </b>
	<%= @product.name%>

</p>

<p>
	<b>Quantity : </b>
	<%= @product.quantity%>

</p>

<p>
	<b>Price : </b>
	<%= @product.price%>

</p>


<%= link_to 'edit', edit_product_path(@product)%> |
<%= link_to 'back', products_path(@product)%>