<p id="notice"> <%= notice %></p>

<div class='row-fluid'>
	<div class='span12' style='margin-top:20px;'>
		<%= image_tag @product.image_url, class: 'img-polaroid', style:'width:200px; float:left; margin-right:20px;' %>


	</div>

</div>


<p>
	<b>Name : </b>
	<%= @product.name%>

</p>

<p>
	<b>Quantity : </b>
	<%= @product.quantity%>

</p>

<p>
	<b>Price : </b>
	<%= @product.price%>

</p>

<p>
	<b>Restaurant : </b>
	<%= link_to @product.restaurant.name, restaurant_path(@product.restaurant)%>

</p>





<%= link_to 'edit', edit_product_path(@product),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%> |
<%= link_to 'back', products_path(@product),class:"btn btn-default btn-block btn-inverse", style:'width:80px;float: right;margin-right: 25px;'%>