<div id='menubar' >
	


<ul class='menu'>
		
		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Home', root_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Category', categories_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Restaurant', restaurants_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Product', products_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px' %>
		 </li>

		 <%if user_signed_in? %>
			<li><%= link_to 'Logout', destroy_user_session_path, class:"btn btn-default btn-block btn-inverse ",style:'width:60px;margin-left: 80px;' , method: :delete %>
			</li>
		<%else%>
			<li> <%= link_to 'Login', new_user_session_path, 
			class:"btn btn-default btn-block btn-inverse", style:'width:60px;margin-left: 80px;' %> </li>
		<%end%>





		 <li>
		 <form class="form-search">
  		<input type="text" placeholder="Search Food..." class="input-medium search-query" style="margin-left:30px ;">
		  <button type="submit" class="btn">Search</button>
		</li>
		</form>

		
</ul>


</div>

