<div id='menubar' >
	


<ul class='menu'>
		
		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Home', root_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px;color:white;' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Category', categories_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px;color:white;' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Restaurant', restaurants_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px;color:white;' %> </li>

		<li style='margin-left:30px;margin-right:30px'> <%= link_to 'Product', products_path,
		class:"btn btn-default btn-block btn-inverse", style:'width:150px;color:white;' %>
		 </li>


		 <li>
              <%= form_tag search_index_path, method: :get, class: 'navbar-search pull-left', id: 'Search' do %>
                <%= text_field_tag :q, params[:q], placeholder: 'Search Food...',style:'margin-left: 120px;margin-top: -4px;' %>
              <% end %>
     </li>
		</form>

		
</ul>


</div>

