<!DOCTYPE html>
<html>



<head>
  <title>DeliverySystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>







</head>
<body style='background-image:url(/assets/background.jpg);'>
	<div  class='container-fluid container-fluid-2'>
		<h1 class='flash-delivery'>Flash!!!!! Delivery</h1>
		<%= render "layouts/menu"%>
		<%= render 'layouts/welcome' %>
		<%= render 'layouts/alert'%>
		<!-- Buat nampilin USER!! -->

		<%= yield %>

		

	</div>

	
	
	<%= render "layouts/footer"%>
</body>


</html>





